

body
{
    margin:0;
    padding:20px;
    font-family:Arial,sans-serif;
    background:#f7f9fc;
    color: #333;
}
h1{
    font-size:22px;
    margin-bottom:5px;
}
p{
    color:#98a2b3;
}
table{
  background-color: #2a9d8f;
}
.small{font-size:12px;color:#2a9d8f;}