body {
  font-family: Arial, sans-serif;
  background-image:url('2.jpg');
  background-size: cover;


  margin: 0;
  padding: 0;

}

header {
  background-color: #000000;
  color:rgb(208, 16, 16);
  padding: 1px;
  font-family: 'Courier New', Courier, monospace;
  
}

nav {
  background-color: #d7dfe8;
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(216, 37, 37);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color:#0b45f1d0;
}


main{
  
  padding: 20px;
  text-align: center;
  font-size: 18px;  
  margin: 20px;   
}
main h2 ,h3,p,ul {
  color: #dddddd;
  text-align: center;
  font-size: larger;
  font-family:' Bebas Neue';

  padding: 10px;
  border-radius: 8px;
}

.bmi-card
{
  background:linear-gradient(180deg, rgba(255,255,255,0.02),
   rgba(255,255,255,0.01));
   padding:18px;border-radius:12px;
   box-shadow:0 8px 30px rgba(2,6,23,0.6);
   color:hsl(214, 100%, 48%);
   max-width:760px;
   margin:16px auto
  }

.bmi-card h3{
  margin:0 0 12px;
  font-family:'Bebas Neue',sans-serif;
  color:var(--accent)
 }
.bmi-inner{
  display:flex;
  gap:18px;
  align-items:center;
  flex-wrap:wrap
 }
.bmi-form{flex:1;
  min-width:220px
 }
.bmi-form label{
  display:block;
  margin-bottom:10px;
  font-size:14px;
  color:var(--muted)
  }
.bmi-form input, .bmi-form select{
  width:100%;
  padding:10px;
  border-radius:8px;
  border:1px solid rgb(223, 8, 8);
  background:transparent;
  color:inherit
 }
.bmi-actions{ 
  display:flex;
  gap:8px;
  margin-top:8px
  }
.btn{  
  padding:10px 14px;
  border-radius:10px;
  background:var(--accent);
  color:rgb(255, 91, 3);
  border:none;
  cursor:pointer
   }
.btn.alt{
  background:transparent;
  border:1px solid rgb(255, 2, 2);
  color:var(--muted)
     }
.bmi-result{ 
  width:220px;
  text-align:center;
  padding:12px;
  border-radius:10px;
  background:rgba(199, 255, 14, 0.02)
       }
.bmi-value{
  font-size:28px;
  font-weight:700
  }
.bmi-cat{
   font-weight:600;
   margin-top:6px
  }
.bmi-tip{
  font-size:13px;
  color:var(--muted);
  margin-top:8px
       }
.muted{
  color:var(--muted)
}
@media (max-width:720px)
{.bmi-inner{
  flex-direction:column
}.bmi-result{width:100%}}