


main{
  
  padding: 20px;
  text-align: center;
  font-size: 18px;  
  margin: 20px;   
}
main ,p,ul {
  color: #000000;
  text-align: center;
  font-size: larger;
  font-family:' Bebas Neue';
  background-color:rgb(245, 230, 230);

  padding: 10px;
  border-radius: 8px;
}



.container {
 
  margin: 30px;
  margin-left:40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  display: grid;
   grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}


.bottom {
  margin-top: 110px;
  margin:100px;
  gap:150px;
  margin-left:350px;
}

.container .card {
  position: relative;
  width: 350px;
  height: 300px;
  cursor: pointer;
}


.container .card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




.container .card .face.face1 {
  position: relative;
  background: #d7d7d7;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: rgb(255, 0, 0);
  transform: translateY(0);
  transition: 0.6s;
}

.container .card .face.face1 .content {
  opacity: 1;

}

.container .card:hover .face.face1 .content {
  opacity: 1;
  color:rgb(255, 7, 7);
}

.container .card .face.face1 .content h3 {
  margin:10px 0 0;  
  padding: 0;
  color:#000000;
  text-align:center;
  font-size:1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(69, 221, 255, 0.8);
  transform:translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0px);
  transition:0.6s;
  
}

.container .card .face.face2 .content p {
  margin:0;
  padding: 20px 0 0;
  font-size:1em;
  color:#8de500;
  text-align: center;
}

.container .card .face.face2 .content a {
  display: inline-block;
  margin-top: 10px;
  padding:10px 20px;
  background: #00000000;
  color:#000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  
}

.container .card .face.face2 .content a:hover {
  background: rgb(255, 77, 3);
  color:#fff;
  box-shadow: 0 0 5px rgb(10, 214, 204),
              0 0 25px rgb(0, 195, 221),
              0 0 50px rgb(10, 25, 188),
              0 0 100px rgb(0, 221, 255);
}
